anyio==3.6.2
asgiref==3.4.1
biopython==1.76
certifi==2021.5.30
chardet==4.0.0
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
fastapi==0.83.0
h11==0.13.0
httptools==0.3.0
idna==2.10
immutables==0.19
importlib-metadata==4.8.3
lxml==4.6.2
numpy==1.17.0
pandas==0.25.1
pydantic==1.9.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2023.3
PyYAML==6.0
requests==2.25.1
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
tqdm==4.36.1
typing_extensions==4.1.1
urllib3==1.26.16
uvicorn==0.16.0
uvloop==0.14.0
watchgod==0.7
websockets==9.1
zipp==3.6.0
